.recent-notes {
  &>h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  &>ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    &>li {
      margin: 1rem 0;

      .section>.desc>h3 {
        font-size: 1.05rem;
        font-weight: 700;
        margin: 0;
        line-height: 1.35;

        >a {
          background-color: transparent;
          color: var(--dark);
          text-decoration: none;

          &:hover {
            color: var(--secondary);
          }
        }
      }

      .section>.meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}